<div
  id="dynamic-modal"
  class="fixed inset-0 z-50 hidden h-screen w-screen items-center justify-center bg-black/50 p-4 backdrop-blur-sm"
  onclick="closeOverlay()"
  role="dialog"
  aria-modal="true"
  aria-labelledby="modal-title"
>
  <div
    id="modal-container"
    class="relative mx-auto max-h-[calc(100vh-4rem)] w-full max-w-xl overflow-y-auto rounded p-6 shadow-lg lg:max-w-2xl xl:max-w-4xl"
    onclick="event.stopPropagation()"
  >
    <div>
      <button
        class="no-focus absolute right-2 top-2 transform cursor-pointer border-none bg-transparent p-1 text-white hover:rotate-45"
        type="button"
        onclick="closeOverlay()"
        aria-label="Schließen"
      >
        <i class="fas fa-times"></i>
      </button>

      <h2 id="modal-title" class="mb-4 text-3xl font-bold text-white"></h2>
      <div id="modal-content" class="prose text-white">
        <!-- Hier kommt Content aus Script -->
      </div>
    </div>
  </div>
</div>
